button.btn-primary {
  /* color: #fff; */
  background-color: #4e66f8 !important;
  border-color: #4e66f8 !important;
}

button.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  /* color: #fff; */
  background-color: #d1af06;
  border-color: #d1af06; /*set the color you want here*/
}

button.btn-link {
  color: black;
}

a {
  color: black !important;
}

/* a.navbar-brand {
  color: #03d3a9 !important;
} */

h3 {
  color: #4e66f8 !important;
}
